{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "src": "./src",
        "core": "./src/core/",
        "config": "./config/",
        "icons": "./src/images/icons/",
        "images": "./src/images/",
        "store": "./src/store/",
        "App": "./src/features/App/",
        "Cabinet": "./src/features/Cabinet/",
        "Common": "./src/features/Common/",
        "SplashScreen": "./src/features/SplashScreen/",
        "FormComponents": "./src/features/FormComponents/",
        "constants": "./src/constants/",
        "helpers": "./src/helpers/",
        "hooks": "./src/hooks",
        "languages": "./src/languages"
      }
    }]
  ]
}
